header{
    background: #800000 !important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    display: block;
    position: fixed;
    z-index: 1010;
    font-size: 24px;
    .logo{
        font-size: 30px;
        color:#fff;
    }
    .nav-link{
        font-size: 22px;
    }
}