<div class="container-fluid">
  <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Faculty Report
      <img class="image-align" [src]="imagePath" width="30px" height="30px" alt="image" >
    </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Share</button>
          <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
    <div class="card" style="width: 30rem; height: 20rem">
        <p-chart type="line" [data]="data"></p-chart>
      </div>
      <div *ngIf="studentData"><hr>
        <h1 class="h2">Student Report
          <img class="image-align" [src]="report" width="30px" height="30px" alt="image" >
        </h1>
          <div class="card" style="width: 30rem; height: 20rem">
            <div class="card-body">
              <h5 class="card-title">{{studentData.studentName}}</h5>
              <div class="card-text">
                {{studentData.profileId}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo itaque alias sunt at placeat reprehenderit repellat ipsa commodi dolores a facere recusandae, cum voluptas suscipit quibusdam molestiae voluptate omnis.
              </div>
            </div>
          </div>
        </div>
  </main>
</div>